@import "tailwindcss/preflight";
@tailwind utilities;

@layer base {
  :root {
    --font-display: "Pretendard", "sans-serif";
    --color-bgGray: #f6f7fa;
    --color-formGray: #eeeff4;
    --color-pblue: #5c7dee;
    --color-contentGray: #eeeff4;
    --color-pgreen: #70c3a7;
  }
}

@layer components {
}
